<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="zh-CN">
    <title>搜索引擎-管理端</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-6 col-md-offset-3">
            <img src="../static/images/logo.png" th:src="@{/images/logo.png}" style="margin-left: auto;margin-right: auto"  class="img-responsive"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <input id="filePath" type="text" class="form-control" th:value="${filePath}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="config">修改源位置(重启失效)</button>
                </span>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3" style="margin-top: 10px;">
            <button class="btn btn-default" type="button" id="init">重置索引</button>
            <button class="btn btn-default" type="button" id="start">提交索引申请</button>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("#init").click(function () {
            $.get("/admin/init",function () {
                console.log("ddd");
            })
        });
        $("#start").click(function () {
            $.get("/admin/start",function () {
                console.log("ddd");
            })
        });
        $("#config").click(function () {
            $.get("/admin/change?path="+encodeURIComponent($("#filePath").val()),function () {
                console.log("ddd");
            })
        })
    })
</script>
</body>
</html>